[loggers]
keys=root

[handlers]
keys=console

[formatters]
keys=standard

[logger_root]
level=INFO
handlers=console

[handler_console]
class=StreamHandler
level=INFO
formatter=standard
args=(sys.stdout,)

[formatter_standard]
format=%(name)s %(levelname)s %(asctime)s %(message)s
datefmt=%Y-%m-%d %H:%M:%S

# To write logs to a file instead of stdout, use the following configuration:
# [handlers]
# keys=file
#
# [logger_root]
# level=INFO
# handlers=file
#
# [handler_file]
# class=FileHandler
# level=INFO
# formatter=standard
# args=('expert_pdb.log', 'a')
